@charset "utf-8";



html {
	scroll-behavior: smooth;
} 

.container {
    width: 90%; /* コンテナの幅をウィンドウの90%にする*/
     margin-left: auto;
     margin-right: auto;/* 左右外余白をautoにする*/
 }
 
 header{
  height: 70vh;
  background-color:#F0E475;
  background-image: url(image/p1.png);
  background-size:cover;
  background-position: center;
 }

 header p{
  text-align: left;
    padding-top: 55vh;
    padding-left: 3%;
    font-size: 4em;
    font-family: "Train One", system-ui;
   
 }

 h1 h2 h3 h4 p{
  font-family: "Sawarabi Mincho", serif;
 }

 h4{
  font-size: 2.5em;
  font-weight: bold;
 }

 #plan p{
  font-size: 2em;
 }

 h3{
  text-align: left;
  padding-left: 5%;
  font-size: 4em;
  border-bottom: 5px solid #F0E475;
  

 }

.navb{
  margin-top: 2em;
}

nav ul{
    display: table;
    margin: 0 auto;
    padding: 0 ;
    width: 80%;
    text-align: center;
    }
    nav li{
    display: table-cell;
    min-width: 50px;
    }
    nav a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    }
   
    nav li:hover{
    color: #E7DA66;
    border-bottom: 3px solid #F0E475;
    }


    #home,#news,#plan,#portfolio,#contact{
  margin-bottom: 200px;
    }

    #home{
        margin-bottom: 200px;
        margin-top: 200px;
    }


    .homebl{
      border-bottom: 3px solid #7aad42;
      text-align: center;
      font-size: 2em;
    }

    .homebl br{
      display: block;
content: "";
margin: 20px 0;
    }

    .fade-in-up {
      transition: 1.2s ease-in-out;
      translate: 0 50px;
      opacity: 0;
      text-align: center;
  }
  
  .fade-in-up.on { /* fade-in-upクラス と onクラスが両方設定されているとき */
      translate: 0;
      opacity: 1.0;
  }
    

    news-list{
        list-style: none outside;
        margin: 0;
        padding: 0;
      }
      .news-list .item a{
        display: flex;
        flex-wrap: wrap;
        flex-wrap: nowrap;
        text-decoration: none;
        color: #333;
        border-bottom: 1px solid #CCC;
        padding: 20px 20px;
      }
      .news-list .item:first-child a{
        border-top: 1px solid #CCC;
      }
      .news-list .item .date{
        margin: 0;
        min-width: 140px;
        font-size: 16px;
        color: #999;
        padding: 0 20px 0 0;
      }
      .news-list .item .category{
        margin: 0;
        min-width: 140px;
        padding: 0 20px 0 0;
      }
      .news-list .item .category span{
        background: #7aad42;
        color: #FFF;
        text-align: center;
        display: inline-block;
        padding: 5px 20px;
        font-size: 12px;
        line-height: 1;
      }
      .news-list .item .title{
        margin: 0;
        width: 100%;
      }
      .news-list .item a:hover .title{
        color: #00F;
      }
      
      @media screen and (max-width: 767px){
      .news-list .item a{
        flex-wrap: wrap;
      }
      .news-list .item .date{
        min-width: 100px;
      }
      .news-list .item .title{
        margin-top: 10px;
      }
      }
      
      /* 装飾 */
       
      *{
        box-sizing: border-box;
      }
      a{
        text-decoration: none;
      }
      body{
        margin: 20px;
      }


      

      .flex-base {
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
    }
    
    .flex-base:nth-of-type(odd){ 
        /* flex-baseクラスの偶数番目の要素に対して */
        flex-direction: row-reverse; /* 並び順（行（横方向））を逆にする */
    }
    
    .flex-item {
        flex: 1;
        padding: 1rem;
    }
    
    .flex-item img { 
        max-width: 100%;} /*オリジナルの画像サイズがflexより優先されるのを防ぐ */


        .fade-in-right {
          transition: 1.2s ease-in-out;
          translate: -100px 0;
          opacity: 0;
      }
      .fade-in-right.on { /* fade-in-rightクラス と onクラスが両方設定されているとき */
          translate: 0;
          opacity: 1.0;
      }
      
      
      .fade-in-left{
          transition: 1.2s ease-in-out;
          translate: 100px 0;
          opacity: 0;
      }
      
      .fade-in-left.on{
          translate: 0;
          opacity: 1.0;
      }


/*===モーダル表示のためのcss　*/

.hide-area{/*モーダル表示をする場所をあらかじめ隠す*/
	display: none;
}

.modaal-fullscreen .modaal-content-container{/*full画面の色設定*/
	background: #333;
	color: #fff;
	text-align: center;
}

.modaal-fullscreen .modaal-close{/*ボタンの色、位置*/
	background:none;
	right:20px;
}

/*クローズボタンの×の色変更*/
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}

/*キャプション*/
.caption{
    display: block;
    padding: 10px 0;
}

.gallery-img{
	max-width:60%;
	height:auto;
	vertical-align: bottom;/*画像の下にできる余白を削除*/
}



   /*リセットcss↓*/

  li {
    list-style-type: none;
  }
  /*----リセットcss*----/
  
  /*デザインcss↓*/
  .box_con02 {
    max-width: 900px;
    margin: 0  auto;
  }
  @media only screen and (max-width: 768px) {
    .box_con02 {
      width: 95%;
    }
  }
  .box_con02 form {
    width: 100%;
  }
  .box_con02 form table {
    width: 100%;
  }
  .box_con02 form table tr {
    position: relative;
  }
  .box_con02 form table tr:first-child td:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 1px;
    border-bottom: solid 1px rgba(28, 46, 83, 0.5);
  }
  @media only screen and (max-width: 768px) {
    .box_con02 form table tr:first-child td:before {
      display: none;
    }
  }
  .box_con02 form table tr th {
    width: 30%;
    font-weight: normal;
    padding: 1em .5em;
    background: #7aad42;
    color: #fff;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    .box_con02 form table tr th {
      text-align: center;
      width: 100%;
      display: block;
      padding: .8em .2em;
    }
  }
  .box_con02 form table tr th span {
    background: #cd6f55;
    padding: 0 .3em;
    color: #fff;
    margin-left: .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box_con02 form table tr th:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
    border-bottom: solid 1px #fff;
  }
  .box_con02 form table tr td {
    position: relative;
    padding: 1em .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    .box_con02 form table tr td {
      padding: 1.5em .5em;
      display: block;
      width: 100%;
    }
  }
  .box_con02 form table tr td:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
    border-bottom: solid 1px rgba(28, 46, 83, 0.5);
  }
  .box_con02 form table tr .box_br {
    display: block;
  }
  .box_con02 form table tr select, .box_con02 form table tr textarea, .box_con02 form table tr .wide {
    width: 100%;
    height: 3em;
    padding: .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box_con02 form table tr textarea {
    height: 10em;
  }

  .btn {
    text-align: center;
  }
  .btn input {
    display: inline-block;
    background: #eee;
    padding: .5em 4em;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border: none;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .btn input:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }


  #page-top a{
    color:#555;
    text-align: center;
    display: block;
    text-decoration: none;
    padding:20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.9rem;
    transition: all 0.3s;
  }
  
  #page-top a:hover{
    border-bottom: 3px solid #F0E475;
    color: #555;
  }

  footer{
    text-align: center;
  }
  