@charset "utf-8";

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


header{
    background-color: rgb(147, 226, 211);
    height: 40rem;
   position: relative;
    flex-wrap: wrap;

}

header p{
    position:fixed;
    top:0;
    width: 100%;
    height: 8rem;
    text-align: center;
    line-height: 5rem;
   background-color:rgb(147, 226, 211);
   font-size: 2rem;
   z-index: 1;
  
}

/* .header{ */
    /* display: flex; */
    
/* } */



header nav.menu{
   width: 100%;
   

}

nav.menu {
    position: fixed;
    top: 5rem;
    width: 100%;
    z-index: 1;
}

nav.menu ul{
    display: flex;
    justify-content: center;
    
}

nav.menu ul li {
    background-color:rgb(147, 226, 211);
    /* padding: 1rem; */
    border-right: solid 1px rgba(71, 70, 70, 0.688);
    width: 15em;
    height: 3rem;
}

nav.menu ul li a {
    color: rgba(71, 70, 70, 0.688);
    display: block;
    text-align: center;
    /* height: 2rem; */
    line-height: 3rem;
    /* text-decoration: none; */
    font-size: 2rem;
    font-variant: small-caps;
}

nav.menu ul li:first-child  {
    border-left: solid 1px rgba(71, 70, 70, 0.688);
}

nav.menu ul li a:hover {
    background-color: rgb(108, 175, 163);
}

nav.menu ul li a:active {
    background-color: rgb(13, 139, 150);
}



header h1{
    
    background-color: rgba(255, 255, 255, 0.488);
    
    font-size: 14vh;
    position: absolute;
    bottom: 0;
    left: 0;
padding-top: 3vh;
padding-bottom: 3vh;
   padding-left:7vh ;
    width: 70vh;

}

.box1 .bgImg {
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    background-size: cover;
    animation  : bgAnime 20s infinite; }

 .box1 .src1 {
        background-image : url(images/20240705_150215.jpg);   /* 背景の画像を指定 */
      }
.box1 .src2 {
        background-image : url(images/fruit-8160703_1280.webp);   /* 背景の画像を指定 */
        animation-delay  : 5s;
      }
 .box1 .src3 {
        background-image : url(images/prune-4409296_1280.jpg);   /* 背景の画像を指定 */
        animation-delay  : 10s;
      }
 .box1 .src4 {
        background-image : url(images/白雪\ 人魚.png);   /* 背景の画像を指定 */
        animation-delay  : 15s;
      }
      
      @keyframes bgAnime {
         0% { opacity: 0; }
         5% { opacity: 1; }
        25% { opacity: 1; }
        30% { opacity: 0; }
       100% { opacity: 0; }
      }




.heading{
height: 20vh;
width: 20vh;
margin: 10vh;

line-height: 20vh ;
    /* padding: 20px,20px; */
    border: solid;
text-align: center;
font-size: 3vh;
color:   rgb(143, 143, 144);
/* background-color: rgb(255, 255, 255); */

}

.content{
    background-color:green;
    display: flex;
    align-items: center;
}

.efd:hover {
   
   background-color : rgba(75, 183, 167, 0.703);
   transition-duration:0.1s ;
}

.efd:active {
    background-color: rgba(24, 131, 125, 0.703);
}


#profile{
    background-color: rgb(255, 255, 255);
    height: 60vh;
   
}
#profile p{
    
    background-color:rgb(255, 255, 255);
        padding: 1rem;
    margin-right: 2rem;
    font-size: 2rem;
    line-height: 5rem;
    color:  rgb(62, 62, 62);
    
}
#profile img{
    width: 40vh;
    height: 40vh;  
    margin-right: 9vh;
    
 
}

#works{
    background-color: rgba(255, 255, 255, 0.634);
    height: 100vh;
}
.box {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 70vw;
    height: 70vh;
    overflow-x: scroll;
    margin-right: 1rem;
    float: left;
    
    
    
    
  }

  .box::-webkit-scrollbar {
    height: 10px; /* スクロールバーの高さ */
  }
   
  .box::-webkit-scrollbar-thumb {
    background:  rgb(47, 147, 142); /* ツマミの色 */
    border-radius:0; /* ツマミ両端の丸み */
  }
   
  .box::-webkit-scrollbar-track {
    background:  rgb(216, 216, 216); /* トラックの色 */
    border-radius: 0; /* トラック両端の丸み */
  }
   
  .box div {
    width: 55vh;
    height: 65vh;
    margin: 5px;
    /* padding: 5px; */
    flex-shrink: 0;
  }

.efd{
position: relative;
background-color: rgb(149, 149, 149);
   
}

  
.efd img{
    position: absolute;
    /* top: 0; */
    width: 55vh;
    height:55vh;
    padding: 2rem;
    /* border: #288383 solid 3vh; */
    border-bottom: none;
    object-fit: cover;
    
}



.boxtext{
    position: relative;
    /* font-size: 3rem; */
    width: 100%;
    font-size: 5vh;
    
}
.boxtext p{
    position: absolute;
    bottom:25px;
    left: 5px;
color: rgb(255, 255, 255);
   
/* text-shadow: 3px 0 5px  rgba(0, 0, 0, 0.322); */
}

 



 #contact{

    background-color:  rgba(255, 255, 255, 0.618);
    height: 120vh;
    padding-top: 5rem;
    
  }
.form{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vh;

}
   
.content::-webkit-scrollbar-thumb {
        background: #000000; /* ツマミの色 */
        border-radius:0; /* ツマミ両端の丸み */
}

footer{ 
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    background-color: rgb(147, 226, 211) ;
    

}


@media (max-width:1020px) { 
    
 .title {
        font-size: 4rem;
    }

    .content {
        flex-direction: column;
        
    }

    .heading{
        height: 15vh;
        width: 15vh;
        line-height: 15vh ;
    }

    header h1{
    
        background-color: rgba(240, 255, 255, 0.488);
        
        font-size: 10rem;
       
       height: 100%;
    padding-top: 23vh;
    padding-bottom: 3vh;
       padding-left:7vh ;
        width: 100%;
    
    }
    

    #profile{
        height: auto;

    }
    #profile img{
          height: 50vh;
          width: 50vh;
        margin:0 auto;}

        #profile p{
    
            
                /* padding: 1rem; */
            /* margin-right: 2rem; */
            font-size: 2rem;
            line-height: 3rem;
        margin: 0 auto;}
            

    


    #works{

        height:auto;
        
    }
    .box{
        height: 70vh;
        width: 90vw;
    }

    
    #contact{

        
        height: 115rem;
        padding-top: 0;
        
      }
    .form{
        background-color: rgba(195, 195, 195, 0.617);
        height: 100%;
        width: 100%;
        /* padding-bottom: 20vh;} */
        
}}