html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body{
   

background-color: rgb(236, 236, 236);
}
h1{
margin: 1rem;
font-size: 4rem;
font-weight: bold;
text-align: center;
}

h2{

font-size: 2rem;
margin-bottom: 1rem;
text-align: center;

}


h3{
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    border-bottom: 3px gray solid;
    color:rgb(62, 62, 62) ;
}


.concept{
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    
}
p{

 font-size: 2rem;
line-height: 3rem;
color:  rgb(62, 62, 62);
width: 80%;
margin: 0 auto;
padding-top: 2rem;
}

.picture1{
    
    text-align: center;
    margin: 3rem;
}


.picture img{

    width:30vh ;
    height:30vh;
    margin: 5px;
   

    object-fit: cover;
    


}

@media (max-width:600px) {

.concept{

    width: 90%;
}

.picture img{
    width:25vh;
    height:25vh;
}

}