@charset "utf-8";
header{
    background-color: whitesmoke;
    padding: 2em 0;
}

.header-wrapper {
    background-color: #66202a;
    display: flex;
    justify-content: space-between;
   
    margin: 0 auto;
    align-items: center;
}

.logo img {
    max-height: 10rem;
}

.menu{
    width: 60%;

}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}


h2 {
    font-size: small;
    font-weight: bold;
}
body{
    background-color: #e5d2b4;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

section{
    margin: 1rem 0;
    padding: 1rem;
    text-align: justify;

}

.clothInfo{
    clear: both;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    padding: 1em;
    margin: 1em 0;
}

.clothInfo img{
    float: left;
    padding: 0 1em;
    width: auto;
}


#font{
    font-family: "Italianno", cursive;
    font-size: 5rem;
  font-style: normal;
  text-align: center;
}
.tittle{
    font-size: 25px;
    text-align: center;
}

.detail{
    text-align: center;
}


.fade-in-right {
    transition: 1.2s ease-in-out;
    translate: -100px 0;
    opacity: 0;
}
.fade-in-right.on {
    translate: 0;
    opacity: 1.0;
}

@media screen and (max-width: 600px) {
    /* チェックボックスを非表示にする */
    .drawer_hidden {
        display: none;
    }
    /* ハンバーガーアイコンの設置スペース */
    .drawer_open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        /* 重なり順を一番上にする */
        cursor: pointer;
    }
    /* ハンバーガーメニューのアイコン */
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #333;
        transition: 0.5s;
        position: absolute;
    }
    /* 三本線の一番上の棒の位置調整 */
    .drawer_open span:before {
        bottom: 8px;
    }
    /* 三本線の一番下の棒の位置調整 */
    .drawer_open span:after {
        top: 8px;
    }
    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer_input:checked~.drawer_open span {
        background: rgba(255, 255, 255, 0);
    }
    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer_input:checked~.drawer_open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #drawer_input:checked~.drawer_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    /* メニューのデザイン*/
    .menu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        /* メニューを画面の外に飛ばす */
        z-index: 99;
        background: #fff;
        transition: .5s;
    }
    .menu ul {
        flex-direction: column;
        text-align: center;
    }
    .menu ul li {
        margin: 1em auto;
    }
    /* アイコンがクリックされたらメニューを表示 */
    #drawer_input:checked~.menu {
        left: 0;
        /* メニューを画面に入れる */
    }
}


footer {
    clear: both;

  background-color: whitesmoke;
  line-height: 2em;
  text-align: center;
  color: black;
}
